APP_NAME=FloCMS
APP_VERSION=1.5.0
APP_ENV=local
APP_KEY=base64:YFHTnSHarB6hiGIgSRtmg++HXRcNLcxH2QDfahO3stg=
APP_URL=http://localhost/flocms
API_URL=https://flocms.com/api/

# General Settings
SITE_NAME=FLO CMS
SITE_NAME_ADMIN=FLO CMS ADMIN PANEL
PRIMARY_EMAIL=info@flocms.com

# Multilingual Settings
LANGUAGES=en,ar,ku
DEFAULT_LANG=en

# Database Configuration
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=flocms
DB_USERNAME=root
DB_PASSWORD=

# Dev Mode
APP_DEBUG=true