<!doctype html>
<html class="no-js" lang="en">
<head>
  <link rel="stylesheet" href="<?=cssPath;?>/style.css">
</head>
<body>
  <div class="content-wrapper">
    <section class="d-flex h-100 align-items-center bg-light">
      <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
        <div class="row">
          <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
            <h1 class="mb-3"><?=__('page.notfound');?></h1>
            <p class="lead mb-7 px-md-12 px-lg-5 px-xl-7"><?=__('page.notfound.short');?></p>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>