<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Marjan company located in northern iraq - Kurdistan.">
<meta name="keywords" content="lighting, Electrical Boards, light fixture, kurdistan, SPYAL iraq, Lighting Technology">
<meta name="author" content="HostKurd">
<title><?=Config::get('Site_Name');?></title>
<link rel="shortcut icon" href="<?=imgPath;?>/favicon/favicon-16x16.png">

<link rel="stylesheet" href="<?=cssPath;?>/plugins.css">
<link rel="stylesheet" href="<?=cssPath;?>/style.css">
<link rel="stylesheet" href="<?=cssPath;?>/flo-core.css">
<!-- <link rel="stylesheet" href="<?=cssPath;?>/colors/navy.css"> -->

<!--Fontawesome CSS Files-->
<link rel="stylesheet" href="<?=fontPath;?>/fontawesome/css/all.css">
<link rel="stylesheet" href="<?=fontPath;?>/fontawesome/css/sharp-light.css">
<link rel="stylesheet" href="<?=fontPath;?>/fontawesome/css/sharp-regular.css">
<link rel="stylesheet" href="<?=fontPath;?>/fontawesome/css/sharp-solid.css">

<link rel="stylesheet" href="<?=vendorPath;?>/leaflet/dist/leaflet.css"/>
<script src="<?=vendorPath;?>/leaflet/dist/leaflet.js"></script>
<!-- Important Javascript Libraries -->
<script src="<?=jsPath;?>/config.js"></script>

<?php if(LANG::isRTL()){;?>
<link rel="stylesheet" href="<?=cssPath;?>/style.rtl.css">
<?php } ?>

<?=isIndexPage?'<link rel="stylesheet" href="'.cssPath.'/slider.css">':'';?>

<style type="text/css">img[onload^="SVGInject("]{visibility:hidden;}</style>

</head>
<body>
    <?=$data['content']; ?>
</body>
</html>