/* Image Preview in Admin Forms */
.image-preview{
    width: 100%;
    min-height: 100px;
    border: 2px solid #ddd;
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-preview__image{
    display: none;
}

.published{
    color: #747474;
}
.not-published{
    color: #d9d9d9;
}
.lang-image{filter: opacity(0.6);}
.width-50{width: 50px;}
.width-75{width: 75px;}
.width-100{width: 100px;}
.width-150{width: 150px;}
.width-200{width: 200px;}
/* Fix Main Sidebar Icons Width */
.sidebar .nav-link .sidebar-icon {width: 33px;display: block;float: left;overflow: hidden;}
.kurdish-input{direction: rtl;text-align: right;font-family: HostkurdWeb, CGKurdWeb;}

/* Color theme */
.text-yellow{color:rgb(250, 183, 88)}
.text-orange{color:#f78b77}
.text-violet{color:#a07cc5}
.text-green{color:#45c4a0}
.text-purple{color:#747ed1}
.text-leaf{color:#7cb798}
.text-red{color:#e2626b}
.text-blue{color:#3f78e0}
.text-ash{color:#9499a3}
.text-pink{color:#d16b86;}
.text-aqua{color:#54a8c7;}
.text-navy{color:#343f52;}
.text-fuchsia{color:#e668b3;}
.text-sky{color:#5eb9f0;}
.text-grape{color:#605dba;}
