.upload-container{
    background-color: #f5f5f5;
    padding: 5px;
    border: 1px solid rgb(228, 228, 228);
    display: none;
    min-height: 150px;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}
/* Error Container */
.error-container{
    color: red;
    text-align: center;
    display: none;
    align-self: flex-start;
    margin: 0 auto;
}
.error-title{
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Progress Bar */
#bar-container{
    width: 100%;
    display: none;
    align-items: center;
    align-self: flex-end;
}
.progressbar{
    width: 100%;
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    transition: all 2s linear;
}
.bar{
    background-color: #252525;
    width: 0%;
    height: 100%;
}

/* Image COntainer */
.image-container{
    position: relative;
    display: none;
}
.image-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffffff;
    padding: 2px;
    background-color: #000000b0;
    border-radius: 50%;
}
.image-btn:hover{
    color: #252525;
    background-color: #fff;
}
.uploaded-image{
    width: 100%;
    height: 100%;
} 
.placeHolder{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 2px dashed #b5b5b5;
    margin-top: 20px;
}

/* Inline Uploader */
.inline-container{
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: none;
}
.inline-holder{
    height: 100px;
    width: 90px;
    margin: 0;
}
.inline-btn{
    transform: scale(0.75);
    left: 1px;
    top: 1px;
}