.upload-container{
    background-color: #f5f5f5;
    padding: 5px;
    border: 1px solid rgb(228, 228, 228);
    display: none;
    min-height: 150px;
    flex-wrap: wrap;
    border-radius: 5px;
    overflow: hidden;
}
/* Error Container */
.error-container{
    color: red;
    text-align: center;
    display: none;
    align-self: flex-start;
    margin: 0 auto;
}
.error-title{
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Progress Bar */
#bar-container{
    width: 100%;
    display: none;
    align-items: center;
    align-self: flex-end;
}
.progressbar{
    width: 100%;
    height: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    transition: all 2s linear;
}
.bar{
    background-color: #252525;
    width: 0%;
    height: 100%;
}

/* Image Container */
.image-container{
    position: relative;
    display: none;
}
.image-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #ffffff;
    padding: 2px 3px;
    background-color: #000000b0;
    border-radius: 50%;
}
.image-btn:hover{
    color: #252525;
    background-color: #fff;
}
.uploaded-image{
    width: 100%;
    height: 100%;
} 
.placeHolder{
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    border: 2px dashed #b5b5b5;
    margin-top: 20px;
}

/* Inline Uploader */
.inline-container{
    border-radius: 5px;
    border: 1px solid #c9c9c9;
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: none;
}
.inline-holder{
    height: 100px;
    width: 90px;
    margin: 0;
}
.inline-btn{
    transform: scale(0.75);
    left: 1px;
    top: 1px;
}
.inline-bar-container{
    display: none;
    align-items: center;
}


/* ----------------------------
        Photo Gallery 
------------------------------*/
.progress-container{
    display: flex;
    flex-wrap: wrap;
}
.gal-images{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #d7d5d5;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.gal-images h4{
    border-bottom: 1px solid #c7c7c7;
    font-size: 1rem;
}
.gal-image-box{
    width: 20%;
    padding: 5px;
    position: relative;
}
.gal-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
    border: 1px solid #cfcfcf;
}
.gal-image-link{
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 1.1rem;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    background-color: #252525c2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    color: white;
}
.gallery-select{
    cursor: pointer;
    padding: 10px;
    min-width: 250px;
    text-align: right;
}
.gallery-select input[type="file"]{
    display: none;
}
.bar-block{
    padding: 5px;
    background: #f3f3f3cc;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
.abort-btn{
    border: 1px solid #8d8d8d;
    height: 25px;
    display: flex;
    width: 25px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
}
.gal-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.prog{
    border: solid thin #186343;
    width: 100%;
    font-size: 12px;
    border-radius: 3px;
    overflow: hidden;
}

.prog-bar{
    background-color: #2d9b6c;
    width: 0%;
    height: 20px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
.image-block{
    background-color: #efebeb;
    padding: 10px;
    width: 200px;
    margin: 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #d5d3d3;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.image-block .file-info{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

@media screen and (max-width:1800px) {
    .gal-image-box{width: 25%;}
}

@media screen and (max-width:1300px) {
    .gal-image-box{width: 50%;}
}
@media screen and (max-width:780px) {
    .gal-image-box{width: 100%;}
}