<div class="flo-wrapper">
    <div class="flo-card width-500">
        <div class="header">
            <span class="text-logo">FloCMS</span> - {{ $title }}
        </div>
        <div class="body">
            <div class="content">
                <h2 class="m-0">Instruction</h2>
                <f3>
                    <?php
                        $data = [
                            'name'=>'john',
                            'age'=>25
                        ];

                        $rules = [
                        'name' => 'required|string',
                        'age'=>'reuired|string'
                        ];
                    try{
                        Validator::validate($data, $rules);
                        echo "passed!";
                    }
                    catch(ValidationException $e){
                        echo $e->getMessage().'\n';
                    }
                        
                    ?>

                </f3>
                <p class="m-0">You can Edit this Page...</p>
                <p class="m-0">Go to Views/Pages/index.html</p>
                @foreach($users as $user)
                <p class="m-0">UserName is: {{ $user->name }} Job Title: {{ $user->job }}</p>
                @endforeach
            </div>
        </div>
    </div>
</div>

