<div class="flo-wrapper">
    <div class="flo-card width-500">
        <div class="header">
            <span class="text-logo">FloCMS</span> - {{ $title }}
        </div>
        <div class="body">
            <div class="content">
                <h2 class="m-0" style="direction: @lang('lng.dir');">@lang('website.title')</h2>
                <p class="m-0 pb-10" style="direction: @lang('lng.dir');">@lang('website.desc')</p>
                <p class="m-0">You can Edit this Page...</p>
                <p class="m-0">Go to Views/Pages/index.html</p>
            </div>
        </div>
    </div>
</div>

<div>
    <form method="post">
        @php echo \HostKurd\Flocms\Lib\Csrf::field(); @endphp
    </form>

</div>

